.review-detail {
  margin-top: 2rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  background-color: #604CC3;
  color: #fff;
}
.back {
  position: absolute;
  top: -35px;
  left: 5px;
  text-decoration: underline;
  text-decoration-color: #355F2E;
  text-decoration-thickness: 1px;
  cursor: pointer;
  font-size: 18px;
  font-style: italic;
  display: flex;
  gap: 10px;
  align-items: center;
  color: #333;
}
.author {
  font-style: italic;
  color: #fff;
}
.full-description {
  margin-top: 1rem;
}

.detail-container {
  padding-top: 50px;
}

@media screen and (max-width: 768px) {
  .review-detail {
    max-width: 100%;
  }
  
}